@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<p></p>

<MoviesList Movies="movies"/>

@code {
    private int currentCount = 0;

    private List<Movie> movies;
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        movies = new List<Movie>()
        {
        new Movie() { Title = "Joker", ReleaseDate = new DateTime(2020, 03, 05)},
        new Movie() { Title = "Avengers", ReleaseDate = new DateTime(2016, 11, 23)}

        };
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
